@import "tailwindcss";

@theme {
  --color-background: #030B11;
  --color-shadow: #0C2C45;
  --color-onBackground: #1a1d20;
  --color-primary: #DCEDFF;
  --color-secondary: #868d97;
  --color-success: #52FFB8;
  --color-warning: #C20114;
  --color-dark: #2f3134;
  --color-light: #79808c;
  --shadow-3xl: 0px 0px 50px #0C2C45; 
}